* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

p{
    font-size: clamp(0.8rem, 2vw, 1rem);
}

body {
    background-color: ver(--pale-blue);
    text-align: center;
}

.flex-box {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin: 10em auto;
}

.flex-item {
    width: 200px;
    border-radius: 1em;
}

.p-1 {
    color: hsl(241, 100%, 89%);
    margin: 1.5em auto;
}

h1 {
    color: hsl(0, 0%, 95%);
}

.of, .p-2 {
    color: hsl(241, 100%, 89%);
}

.div-1 .h3 {
    color: hsl(0, 0%, 95%);
}

.circle {
    height: 6em;
    width: 6em;
    border-radius: 50%;
    background: linear-gradient(
        hsla(256, 72%, 46%, 1),
        hsla(241, 72%, 46%, 0));
    margin: 1.2em auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.div-1 {
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));
    text-align: center;
    padding: 0 1.5em;
}

.p-2{
    margin:1em 0 2.5em 0;
}

.div-2 {
    padding: 0 1em;
    background-color: hsl(0, 0%, 100%);
}


.div-2 .h3 {
    margin: .5em auto;
    text-align: left;
}

button {
    margin: 1em 0 2.5em 0;
    width: 100%;
    padding: .5em 0;
    border-radius: 2em;
    border: none;
    color: whitesmoke;
    background-color:  hsl(0, 0%, 0%, .8);
}

button:hover {
    background: linear-gradient(
        hsl(252, 100%, 67%),
        hsl(241, 81%, 54%));        
}

.inline {
    display: inline;
    vertical-align: middle;
}

.box {
    width: 100%;
    margin: 0.6em 0;
    padding: 0.4em .5em;
    border-radius: .5em;
    text-align: left;
    position: relative
}

.box-1{
    color:  hsla(0, 100%, 67%, 1);
    background-color: hsla(0, 100%, 67%, .1);
}

.box-2 {
    color: hsla(39, 100%, 56%, 1);
    background-color: hsla(39, 100%, 56%, 0.1);
}

.box-3 {
    color:  hsl(166, 100%, 37%);
    background-color:  hsla(166, 100%, 37%, .1);
}

.box-4 {
    color: hsl(234, 85%, 45%);
    background-color: hsla(234, 85%, 45%, .1);
}

.right{
    position: absolute;
    right: 1em;
    top: .8em;
    color: hsl(0, 0%, 0%, .5);
    font-weight: 700;
}

.bold {
    color: black;
    font-weight: 700;
}




.attribution {
    font-size: 0.6875rem; 
    text-align: center; 
}

.attribution a {
    color: hsl(228, 45%, 44%);
}




@font-face {
    font-family: "My Font";
    src: url("./assets/fonts/HankenGrotesk-VariableFont_wght.ttf") format("truetype");
}

@font-face {
    font-family: 'bold font';
    src: url("./assets/fonts/static/HankenGrotesk-Bold.ttf") format("truetype");
}

@font-face {
    font-family: 'extrabold font';
    src: url("./assets/fonts/static/HankenGrotesk-ExtraBold.ttf") format("truetype");
}

@font-face {
    font-family: 'medium font';
    src: url("./assets/fonts/static/HankenGrotesk-Medium.ttf") format("truetype");
}

.circle h1, .div-1 .h3, .div-2 .h3, .bold {
    font-family: 'extrabold font';
}

.div-2 .left {
    font-family: 'bold font';
}


.h3 {
    font-size: 1.17rem;
}




:root {
    --pale-blue: hsl(221, 100%, 96%);
    --dark-blue: hsl(224, 30%, 27%);
    --reaction-red: hsl(0, 100%, 67%);
}
